ul.notification-list.no-margin.hidden-sm.hidden-xs.b-grey.b-l.b-r.no-style.p-l-30.p-r-20
  = render "shared/header/notification/notification"
  = render "shared/header/notification/link"
  = render "shared/header/notification/grid"
