- content_for :title do
  = "Corner Good Purchase"

- content_for :breadcrumb do
  li
    p =t('corner.common.shopkeeper')
  li
    = link_to "Corner Good Purchase", {action: "index"}, class: "active"

- content_for :jscode do
  javascript:
    $(document).ready(function() {
      $('#cuid-submit').on('click', function() {

        cashtotal = 0;
        if ($('#good_1').val() != "empty") cashtotal += parseInt($('#cash_1').val())*parseInt($('#quantity_1').val());
        if ($('#good_2').val() != "empty") cashtotal += parseInt($('#cash_2').val())*parseInt($('#quantity_2').val());
        if ($('#good_3').val() != "empty") cashtotal += parseInt($('#cash_3').val())*parseInt($('#quantity_3').val());
        if ($('#good_4').val() != "empty") cashtotal += parseInt($('#cash_4').val())*parseInt($('#quantity_4').val());
        if ($('#good_5').val() != "empty") cashtotal += parseInt($('#cash_5').val())*parseInt($('#quantity_5').val());
        if ($('#good_6').val() != "empty") cashtotal += parseInt($('#cash_6').val())*parseInt($('#quantity_6').val());
        if ($('#good_7').val() != "empty") cashtotal += parseInt($('#cash_7').val())*parseInt($('#quantity_7').val());
        if ($('#good_8').val() != "empty") cashtotal += parseInt($('#cash_8').val())*parseInt($('#quantity_8').val());
        if ($('#good_9').val() != "empty") cashtotal += parseInt($('#cash_9').val())*parseInt($('#quantity_9').val());
        if ($('#good_10').val() != "empty") cashtotal += parseInt($('#cash_10').val())*parseInt($('#quantity_10').val());

        if (cashtotal > 0) {
          $('#cuid-cash-amount').html("+" + String(cashtotal));
        } else {
          $('#cuid-cash-amount').html(String(cashtotal));
        }

        total = 0;
        if ($('#good_1').val() != "empty") total += parseInt($('#price_1').val())*parseInt($('#quantity_1').val());
        if ($('#good_2').val() != "empty") total += parseInt($('#price_2').val())*parseInt($('#quantity_2').val());
        if ($('#good_3').val() != "empty") total += parseInt($('#price_3').val())*parseInt($('#quantity_3').val());
        if ($('#good_4').val() != "empty") total += parseInt($('#price_4').val())*parseInt($('#quantity_4').val());
        if ($('#good_5').val() != "empty") total += parseInt($('#price_5').val())*parseInt($('#quantity_5').val());
        if ($('#good_6').val() != "empty") total += parseInt($('#price_6').val())*parseInt($('#quantity_6').val());
        if ($('#good_7').val() != "empty") total += parseInt($('#price_7').val())*parseInt($('#quantity_7').val());
        if ($('#good_8').val() != "empty") total += parseInt($('#price_8').val())*parseInt($('#quantity_8').val());
        if ($('#good_9').val() != "empty") total += parseInt($('#price_9').val())*parseInt($('#quantity_9').val());
        if ($('#good_10').val() != "empty") total += parseInt($('#price_10').val())*parseInt($('#quantity_10').val());
        if ('#{params[:type]}' != 'purchase') {
          total *= -1;
        }
        if (total + #{@user.account.balance} < 0){
          $('body').pgNotification({
            style: 'flip',
            message: 'Happy Coins Not Enough!',
            position: 'top-right',
            timeout: 8000,
            type: 'danger'
          }).show();
        } else {
          if (total > 0) {
            $('#cuid-payment-amount').html("+" + String(total));
          } else {
            $('#cuid-payment-amount').html(String(total));
          }
          $('#cuid-debtor-balance').html(String(total + #{@user.account.balance}));
          $('#confirmation-cuid-modal').modal('toggle');
        }
      });
      $('#cuid-confirm').on('click', function() {
        $("#cuid_form").submit();
      });
      $('#good_1').on('change', function() {
        if (this.value != "empty") {
          $.getJSON('/corner/pos/corner_good_purchase/get_price', {good: this.value}, function(data) {
            $('#price_1').val(data.purchase_credit_price);
            $('#cash_1').val(data.purchase_cash_price);
            $('#quantity_1').val("1");
          });
        } else {
          $('#price_1').val("");
          $('#cash_1').val("");
          $('#quantity_1').val("");
        }
      });
      $('#good_2').on('change', function() {
        if (this.value != "empty") {
          $.getJSON('/corner/pos/corner_good_purchase/get_price', {good: this.value}, function(data) {
            $('#price_2').val(data.purchase_credit_price);
            $('#cash_2').val(data.purchase_cash_price);
            $('#quantity_2').val("1");
          });
        } else {
          $('#price_2').val("");
          $('#cash_2').val("");
          $('#quantity_2').val("");
        }
      });
      $('#good_3').on('change', function() {
        if (this.value != "empty") {
          $.getJSON('/corner/pos/corner_good_purchase/get_price', {good: this.value}, function(data) {
            $('#price_3').val(data.purchase_credit_price);
            $('#cash_3').val(data.purchase_cash_price);
            $('#quantity_3').val("1");
          });
        } else {
          $('#price_3').val("");
          $('#cash_3').val("");
          $('#quantity_3').val("");
        }
      });
      $('#good_4').on('change', function() {
        if (this.value != "empty") {
          $.getJSON('/corner/pos/corner_good_purchase/get_price', {good: this.value}, function(data) {
            $('#price_4').val(data.purchase_credit_price);
            $('#cash_4').val(data.purchase_cash_price);
            $('#quantity_4').val("1");
          });
        } else {
          $('#price_4').val("");
          $('#cash_4').val("");
          $('#quantity_4').val("");
        }
      });
      $('#good_5').on('change', function() {
        if (this.value != "empty") {
          $.getJSON('/corner/pos/corner_good_purchase/get_price', {good: this.value}, function(data) {
            $('#price_5').val(data.purchase_credit_price);
            $('#cash_5').val(data.purchase_cash_price);
            $('#quantity_5').val("1");
          });
        } else {
          $('#price_5').val("");
          $('#cash_5').val("");
          $('#quantity_5').val("");
        }
      });
      $('#good_6').on('change', function() {
        if (this.value != "empty") {
          $.getJSON('/corner/pos/corner_good_purchase/get_price', {good: this.value}, function(data) {
            $('#price_6').val(data.purchase_credit_price);
            $('#cash_6').val(data.purchase_cash_price);
            $('#quantity_6').val("1");
          });
        } else {
          $('#price_6').val("");
          $('#cash_6').val("");
          $('#quantity_6').val("");
        }
      });
      $('#good_7').on('change', function() {
        if (this.value != "empty") {
          $.getJSON('/corner/pos/corner_good_purchase/get_price', {good: this.value}, function(data) {
            $('#price_7').val(data.purchase_credit_price);
            $('#cash_7').val(data.purchase_cash_price);
            $('#quantity_7').val("1");
          });
        } else {
          $('#price_7').val("");
          $('#cash_7').val("");
          $('#quantity_7').val("");
        }
      });
      $('#good_8').on('change', function() {
        if (this.value != "empty") {
          $.getJSON('/corner/pos/corner_good_purchase/get_price', {good: this.value}, function(data) {
            $('#price_8').val(data.purchase_credit_price);
            $('#cash_8').val(data.purchase_cash_price);
            $('#quantity_8').val("1");
          });
        } else {
          $('#price_8').val("");
          $('#cash_8').val("");
          $('#quantity_8').val("");
        }
      });
      $('#good_9').on('change', function() {
        if (this.value != "empty") {
          $.getJSON('/corner/pos/corner_good_purchase/get_price', {good: this.value}, function(data) {
            $('#price_9').val(data.purchase_credit_price);
            $('#cash_9').val(data.purchase_cash_price);
            $('#quantity_9').val("1");
          });
        } else {
          $('#price_9').val("");
          $('#cash_9').val("");
          $('#quantity_9').val("");
        }
      });
      $('#good_10').on('change', function() {
        if (this.value != "empty") {
          $.getJSON('/corner/pos/corner_good_purchase/get_price', {good: this.value}, function(data) {
            $('#price_10').val(data.purchase_credit_price);
            $('#cash_10').val(data.purchase_cash_price);
            $('#quantity_10').val("1");
          });
        } else {
          $('#price_10').val("");
          $('#cash_10').val("");
          $('#quantity_10').val("");
        }
      });
    });

.panel-body
  .row
    .col-sm-10
      h3 = t('shopkeeper_panel.transaction.page2.msg')
      p = t('shopkeeper_panel.transaction.page2.msg2')
      br
      = form_tag({action: "create"}, method: "post", class: "form-horizontal", id:"cuid_form")
        = hidden_field_tag(:cuid, @user.cuid)
        = hidden_field_tag(:type, params[:type])
        .form-group
          = label_tag "name", "Name", class: "col-sm-3 control-label"
          .col-sm-9
            = text_field_tag "name", @user.name, class: "form-control", disabled: true
        .form-group
          = label_tag "cuid", "CUID", class: "col-sm-3 control-label"
          .col-sm-9
            = text_field_tag "cuid", @user.cuid, class: "form-control", disabled: true
        .form-group
          = label_tag "current_amount", "Current Amount", class: "col-sm-3 control-label"
          .col-sm-9
            = text_field_tag "current_amount", @user.account.balance, class: "form-control", disabled: true
        .form-group
          table.table
            thead
              tr
                th.col-md-1 #
                th.col-md-7 Type
                th.col-md-1 Coins
                th.col-md-1 Cash
                th.col-md-2 Quantity
            tbody
              - (1..10).each do |i|
                tr
                  td.col-md-1 = i
                  td.col-md-7
                    select.full-width id="good_#{i}" name="good_#{i}" data-init-plugin="select2"
                      optgroup label="-"
                        option value="empty" -
                      - Corner::Pos::CornerGoodCategory.all.order_by(:order => 'asc').each do |category|
                        optgroup label="#{(category.order + 64).chr.to_s + " " + category.name}"
                          - category.item.all.order_by(:order => 'asc').each do |item|
                            option value="#{item.number}" = (category.order + 64).chr.to_s + item.order.to_s + " " + item.name
                  td.col-md-1
                    = text_field_tag ("price_"+i.to_s), nil, class: "form-control", readonly: true
                  td.col-md-1
                    = text_field_tag ("cash_"+i.to_s), nil, class: "form-control", readonly: true
                  td.col-md-2
                    = text_field_tag ("quantity_"+i.to_s), nil, class: "form-control"
        br
        .row
          .col-sm-9.col-sm-offset-3
            / = button_tag "Submit", data: { disable_with: t('form.pleasewait') }, class: "btn btn-success"
            button.btn.btn-success#cuid-submit type="button" Submit

.modal.fade.slide-up.disable-scroll#confirmation-cuid-modal tabindex="-1" role="dialog" aria-hidden="true"
  .modal-dialog
    .modal-content-wrapper
      .modal-content
        .modal-header.clearfix.text-left
          h5
            | Transaction 
            span.semi-bold Confirmation
        .modal-body
          p You are about to make this transaction, this procedure is irreversible.
          p Do you want to proceed?
          p
            | Operator: 
            span.bold =current_user.name
          p
            | Customer Account: 
            span.bold =@user.name
          p
            | Type: 
            span.bold Purchase
          p
            | Amount:
            span.bold#cuid-payment-amount
          p
            | Cash amount:
            span.bold#cuid-cash-amount
          p
            | Balance after Transaction: 
            span.bold#cuid-debtor-balance

        .modal-footer
          button.btn.btn-default data-dismiss="modal" Cancel
          button.btn.btn-danger.btn-ok#cuid-confirm type="button" Confirm


